.header {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  width: 68.75%;
  margin: auto;
}

.header__logo {
  height: 3.75%;
  width: 19.66%;
}

.header__line {
  padding-top: 4.66%;
  width: 100%;
  border-bottom: 1px solid #545454;
}
