.photos {
  display: grid;
  gap: 20px 17px;
  grid-template-columns: repeat(3, 1fr);
  width: 68.75%;
  max-width: 880px;
  margin: auto;
}

.photos__card {
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.photos__image {
  width: 282px;
  height: 282px;
}

.photos__heading {
  background-color: #fff;
  color: #000;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
}

.photos__place {
  font-weight: 900;
  font-size: 1.5em;
  line-height: 1.2104;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.photos__like {
  margin-left: auto;
  cursor: pointer;
}

.photos__like:hover {
  opacity: 50%;
}

.photos__like:active {
  background-image: url(../images/boton_like-black.svg);
  opacity: 100%;
}

@media screen and (max-width: 1024px) {
  .photos {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    max-width: 581px;
  }
}

@media screen and (max-width: 544px) {
  .photos {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 88.125%;
    max-width: 282px;
  }
}
