.photos {
  display: grid;
  gap: 20px 17px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 68.75%;
  margin: auto;
}

.photos__card {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.photos__image {
  width: 100%;
}

.photos__heading {
  background-color: #fff;
  color: #000;
  height: 79px;
  display: flex;
  align-items: center;
}

.photos__place {
  font-weight: 900;
  font-size: 1.5em;
  line-height: 1.2104;
  margin-left: 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.photos__like {
  margin-left: auto;
  margin-right: 18px;
  cursor: pointer;
}

.photos__like:hover {
  opacity: 50%;
}

.photos__like:active {
  color: #000;
}
